body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
  }
  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #010a19;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: #e7edef;
    line-height: 1
}

body {
    overflow: hidden
}

body {
    position: relative
}

body{
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

  
  header {
    height: 100%;
    background-color: #021026;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
 /* Genel stil tanımı */
.logo img {
    max-width: 240px; /* Maksimum genişlik 240px */
    height: auto; /* Genişlik oranına bağlı olarak yükseklik ayarlanır */
  }
  
  /* 1000px ve üzeri ekran genişliği için medya sorgusu */
  @media screen and (min-width: 1000px) {
    .logo img {
      max-width: 240px; /* Maksimum genişlik 180px */
    }
  }
  
  /* 500px ve üzeri ancak 1000px'den küçük ekran genişliği için medya sorgusu */
  @media screen and (max-width: 1000px) and (min-width: 500px) {
    .logo img {
      max-width: 180px; /* Maksimum genişlik 130px */
    }
  }
  
  /* 500px ve daha küçük ekran genişliği için medya sorgusu */
  @media screen and (max-width: 500px) {
    .logo img {
      max-width: 130px; /* Maksimum genişlik 130px */
    }
  }
  

  
 
.info{
    text-align: center
}
  
  .title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .date-time-weather {
    display: flex;
    align-items: center;
  }
  
  .datetime,
  .weather {
    margin-right: 20px;
  }
  
  .temperature {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .condition {
    font-size: 0.9em;
  }
  
  @keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: rgb(0, 238, 255); }
  }


  .info {
    text-align: center;
  }

  .title, .phone, .address {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin-bottom: 1px;
    animation: colorChange 50s ease-in-out infinite;
    text-align: center;
  }